@{
    ViewBag.Title = "Търсене на потребител";
}

<div><br /></div>
<h1>@ViewData["ErrorMessage"]</h1>
@using (Html.BeginForm("Result", "Users", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Търсене на потребител по ЕГН
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input style="width:200px" type="text" class="form-control" name="egn" placeholder="Въведете ЕГН">
            </div>
            <button type="submit" class="btn btn-primary">Търсене</button>

            <div>
                <p style="color:red">Търсенето се извършва само в потребителите от Активна директория</p>
            </div>
        </div>
     </div>
 }



