@{
    ViewBag.Title = "Търсене на потребител";
}

<div><br /></div>
<h1>@ViewData["ErrorMessage"]</h1>
@using (Html.BeginForm("Result", "Users", FormMethod.Post))
{
<label>Търсене на потребител по ЕГН</label>
<input type="text" class="form-control" name="egn" placeholder="Въведете ЕГН">
<button type="submit" class="btn btn-default">Търсене</button>
}
<p style="color:red">Търсенето се извършва само в потребителите от Активна директория</p>
