@model UMS.Models.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "Управление на акаунт";
}

<div class="row">
    <div class="col-md-8 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.Title
            </div>

            <div class="panel-body">
                <h4>Промяна настройки на акаунт</h4>
                <p class="text-success">@ViewBag.StatusMessage</p>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Промяна на парола:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Промени парола", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>

                </dl>
            </div>

        </div>
    </div>
</div>
